* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: #333;
}

.card {
    width: 400px;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;

    &__img {
        width: 100%;
    }

    &__body {
        padding: 10px 20px;
    }

    &__text {
        margin: 20px 0;
    }

    &__btns {
        display: flex;
        justify-content: space-around;
    }

    &__btn {
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 8px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: #fff;
        }

        &--highlight {
            background-color: rgb(18, 207, 18);

            &:hover {
                background-color: rgb(5, 252, 5);
            }
        }
    }
}

// form styles

.form {
    height: 600px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    color: rgb(85, 84, 84);
    border-radius: 10px;
    overflow: hidden;

    &__title {
        font-size: 40px;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
    }

    &__body {
        padding: 20px 20px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
    }

    &__label {
        padding: 5px 0;
    }

    &__input {
        height: 30px;
    }

    &__btns {
        display: flex;
        justify-content: space-around;
        margin: 40px 0;
    }

    &__btn {
        width: 160px;
        padding: 20px 10px;
        text-align: center;
        text-transform: uppercase;
        border: 2px solid rgb(85, 84, 84);
        border-radius: 10px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: gray;
            color: white;
        }

        &--highlight {
            background-color: gray;
            color: white;

            &:hover {
                background-color: royalblue;
            }
        }
    }

}




